<h1>Show Article</h1>

<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
    </tr>
    <tr>
        <td><%= @article.title %></td>
        <td><%= @article.description %></td>

    </tr>
</table>